  {% extends 'base.html' %}

  {% block nav %}
<a class="nav-link" href="{% url 'projects_create' %}">Create Projects</a>


{% endblock %}
{% block content %}
    <h1><i class="bi bi-list-task"></i> Projects</h1>
    <br/>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for project in projects %}
        <div class="col">
  <div class="col">
    <div class="card border-success">
      <div class="card-body text-success">
        <h5 class="card-title">Title: {{ project.title }}</h5>
        <p class="card-title">Description: {{ project.desc }}</p>
        <p class="card-text">Start date: {{ project.s_date }}</p>
          <p class="card-text">Deadline: {{ project.e_date }}</p>
        <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Full view</a>
      </div>
    </div>
  </div>
</div>
        <br/>
    {% endfor %}
    </div>

{% endblock %}