{% extends 'base.html' %}

{% block nav %}


{% endblock %}
{% block content %}
    <br/>
    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Tasks&nbsp;<i class="bi bi-book"></i>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    <br/>
        {% include 'partial/simple_search.html' %}
    <br/>
    <h1><i class="bi bi-list-task"></i> Issue tracker</h1>
    <br/>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for todoess in todo %}
        <div class="col">
  <div class="col">
    <div class="card border-success">
      <div class="card-body text-success">
        <h5 class="card-title">Title: {{ todoess.short_description }}</h5>
        <p class="card-text">Status: {{ todoess.status }}</p>
        <a href="{{ todoess.get_absolute_url }}" class="btn btn-primary">Full view</a>
      </div>
    </div>
  </div>
</div>
        <br/>
    {% endfor %}
    </div>
    <br/>
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Projects&nbsp;<i class="bi bi-collection-fill"></i>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <strong><a href="{% url 'projects' %}" style="text-decoration: none">Projects</a></strong>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}